
// Descriptive color vriables
$white           : #fff;
$grey-light      : #ccc;
$grey-dark       : #777;
$teal            : #58e1c1;
$aqua-blue       : #51ddfc;

// Media Query Breakpoints

$break-m: 768px;